{% extends 'admintemp/admin_home.html' %}
{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">All Nurse</h2>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>Qualification</th>
                <th>ID</th>
            </tr>
        </thead>
        <tbody>
            {% for c in data %}
            <tr>
                <td>{{ c.name }}</td>
                <td>{{ c.email }}</td>
                <td>{{ c.address }}</td>
                <td>{{ c.qualification }}</td>
                <td><img src="{{c.id_card.url}}"></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
