{% extends 'admintemp/admin_home.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Payment Details</h4>
                  <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Customer</th>
                                <th>Service Date</th>
                                <th>Amount</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for a in appointments %}
                            <tr>
                                <td>{{ a.name }}</td>
                                <td>{{ a.date }}</td>
                                <td>₹ {{ a.amount }}</td>
                                <td>{{ a.status }}</td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="4" class="text-center">No Completed Payments Found</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
{% endblock %}